* {
	margin: 0px;
	border: 1px solid red;
}

body {
	background-color: black;
	color: aliceblue;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#calc {
	background-color: #888;
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
	height: 600px;
	width: 290px;
}

#display {
	text-align: right;
	font-size: 36px;
	width: 100%;
	height: 70px;
	border: none;
	background-color: #fff;
}

#btnContainer {
	justify-self: flex-end;
	width: 100%;
	height: 470px;
}

.btn {
	font-size: 24px;
	margin: 2px;
	width: 64px;
	height: 90px;
	border-radius: 25px;
	color: royalblue;
}

.btn:hover {
	background-color: aqua;
}

.opBtn {
	background-color: royalblue;
	color: white;
}

#clearAll,
#clearOne {
	width: 138px;
}
